MACOSX_DEPLOYMENT_TARGET = 26.0
SDKROOT = macosx
SWIFT_VERSION = 6.0
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_ENABLE_MODULES = YES
CLANG_C_LANGUAGE_STANDARD = c11
CLANG_CXX_LANGUAGE_STANDARD = c++20
GCC_TREAT_WARNINGS_AS_ERRORS = YES
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES
SWIFT_INCLUDE_PATHS = $(inherited) "$(INKPOD_CORE_MODULE_DIR)"
HEADER_SEARCH_PATHS = $(inherited) "$(INKPOD_PUBLIC_INCLUDE_DIR)"
OTHER_LDFLAGS = $(inherited) "$(INKPOD_RUST_STATICLIB)"
